.section {
  font-family: Heebo sans-serif;
  :global {
    h4 {
      font-size: 20px;
    }

    form {
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
      section {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        width: calc(calc(100% / 3) - 10px);

        .form-group {
          width: 300px;
        }

        .bordered {
          &:read-only {
            background-color: white;
          }
        }

        .form-toggle {
          label {
            cursor: pointer;
            img {
              height: 25px;
            }
            input {
              display: none;

              &:checked {
                & ~ .toggle-off {
                  display: none;
                }
              }
              &:not(:checked) {
                & ~ .toggle-on {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
