.orderview {
  position: relative;
  margin-top: 50px;
  padding: 0 10px;

  .position-p{
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
    margin-right: 20px;
    transform: translateY(-100%);
    border: 1px solid #eeee;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;

    &.bg-gray {
      background-color: #666666;
    }
    &.bg-red {
      background-color: #d82323;
    }

    &.bg-green {
      background-color: #39b54a;
    }

    &.bg-orange {
      background-color: #f7931e;
    }
  }


}
