
@font-face {
    font-family: 'galacti_condensed_ffcregular';
    src: url('galacticondensed-regular-ffc-web.woff2') format('woff2'),
         url('galacticondensed-regular-ffc-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
